<div class="status budget">
  <div class="name">Budget</div>
  <div class="money">£{{ totalBudget }}</div>
  <div class="bar">
    <div class="progress" [style.width.%]="budgetProc"></div>
  </div>
  <div class="precent">{{ budgetProc }}%</div>
</div>

<div class="status left">
  <div class="name">Left</div>
  <div class="money">£200</div>
  <div class="bar">
    <div class="progress" [style.width.%]="leftProc"></div>
  </div>
  <div class="precent">{{ leftProc }}%</div>
</div>

<div class="status total">
  <div class="name">Total expenses</div>
  <div class="money">£800</div>
  <div class="bar">
    <div class="progress" [style.width.%]="expensesProc"></div>
  </div>
  <div class="precent">{{ expensesProc }}%</div>
</div>
