<div class="status budget">
  <div class="name">Budget</div>
  <div class="money">£{{ totalBudget }}</div>
  <div class="bar">
    <div class="progress" [style.width.%]="budgetProc"></div>
  </div>
  <div class="precent">{{ budgetProc }}%</div>
</div>

<div class="status left">
  <div class="name">Left</div>
  <div class="money">£{{ moneyLeftCounter() }}</div>
  <div class="bar">
    <div class="progress" [style.width.%]="leftPrecentCounter()"></div>
  </div>
  <div class="precent">{{ leftPrecentCounter() }}%</div>
</div>

<div class="status total">
  <div class="name">Total expenses</div>
  <div class="money">£{{ totalExpenses }}</div>
  <div class="bar">
    <div class="progress" [style.width.%]="expensesPrecentCounter()"></div>
  </div>
  <div class="precent">{{ expensesPrecentCounter() }}%</div>
</div>
