<h1>home <br> budget</h1>

<nav>
  <ul>
    <li><a routerLink="/first-component">Food</a></li>
    <li><a routerLink="/first-component">Car</a></li>
    <li><a routerLink="/first-component">Bank</a></li>
    <li><a routerLink="/first-component">Health</a></li>
    <li><a routerLink="/first-component">Home</a></li>
    <li><a routerLink="/first-component">Income</a></li>
    <li><a routerLink="/first-component">Personal</a></li>
    <li><a routerLink="/first-component">Phone</a></li>
    <li><a routerLink="/first-component">Sport</a></li>
  </ul>
</nav>
