<h1>home <br> budget</h1>

<nav>
  <ul>
    <li><a routerLink="/food" routerLinkActive="active">Food</a></li>
    <li><a routerLink="/car" routerLinkActive="active">Car</a></li>
    <li><a routerLink="/bank" routerLinkActive="active">Bank</a></li>
    <li><a routerLink="/health" routerLinkActive="active">Health</a></li>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/personal" routerLinkActive="active">Personal</a></li>
    <li><a routerLink="/phone" routerLinkActive="active">Phone</a></li>
    <li><a routerLink="/sport" routerLinkActive="active"> Sport</a></li>
    <li class="income"><a routerLink="/income" routerLinkActive="active">Income</a></li>
  </ul>
